# Файл .gitignore

# Игнорирование каталога node_modules
node_modules/

# Игнорирование файла окружения
.env

# Игнорирование логов
*.log

# Игнорирование служебных файлов редакторов
.idea/
*.sublime-*
.vscode/
